/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    html {
        min-width: 768px;
        max-width: 1024px;
        margin: 0;
        flex-direction: column;
    }

    body {
        padding: 0px 0px;    
    }
  
    .search h1 {
        font-size: 20px;
    }

    .accomodation-popular {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .accomodations {
        margin: 20px 0px 20px 0px;
    }

    .acc-cards {
        width: 31%;
    }

    .popular {
        margin: 20px 0px 20px 0px;
        padding: 20px;
    }

    .popular-divcards {
        flex-direction: row;
    }

    .pop-cards {
        width: 36%;
        height: auto;
    }

    .popular-cards a {
        width: 30%;
    }

    .activities-divcards {
        height: 300px;
    }

    .actcard-content img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    html,
    body {
        min-width:auto;
        max-width: 768px;
    }

    body {
        padding: 0px 0px;
    }
    
    main {
        padding: 0px;
    }

    .navbar {
        display: block;
        margin: 20px 0;  
    }
    
    .logo-div {
        display: flex;
        justify-content: center;
    }
    
    .navlist {
        padding: 0px 5px 20px 0px;
        margin-right: 0px;
    }

    .navlist li {
        border-bottom: solid 3px var(--main-bg-grey);
        width: 50%;
        text-align: center;
    }

    .navlist a:hover {
        border-bottom: 3px var(--main-blue) solid;
        border-top: none;
        color: var(--main-blue);
    }

    .navlist a:active {
        border-bottom: 3px var(--main-blue) solid;
        border-top: none;
        color: var(--main-blue);
    }

    .search-form {
        width: 100%;
    }

    .search {
        padding: 15px;
    }

    .search-header {
        text-align: center;
    }

    .search-button span {
        display: none;
    }

    .search-button i {
        display: block;
        color: var(--White);
        font-size: larger;
    }

    .filterbar {
    margin: 10px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }

    .filterbar div {
    height: 40px;    
    }

    .accomodation-popular {
    flex-direction: column-reverse;
    }

    .accomodations {
        margin: 0px 0px;
        border-radius: 0;
        padding: 0;
        background-color: var(--White);
        border: 0;
    }

    .accomodations-title {
        display: flex;
        justify-content: center;
        margin: 30px 0px 15px 0px;
    }

    .accomodations-divcards {
        flex-direction: column;
    }

    .acc-cards {
        width: 90%;
        margin: 10px 20px;
    }

    .accomodations footer {
        background-color: var(--White);
    }

    .popular {
        margin: 0px 0px;
        border-radius: 0;
        padding: 20px 0px;
    }

    .popular-header {
        justify-content: center;
        padding-bottom: 10px;
    }

    .popular-title {
        margin: 0px 30px 0px 30px;
    }

    .popular-header .fa-solid {
        margin: 0px 30px 0px 30px;
    }

    .popular-divcards {
        flex-direction: column;
    }

    .pop-cards {
        width:90%;
        margin: 10px 20px;
    }

    .activities {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .activities-title {
        display: flex;
        justify-content: center;
    }
    
    .activities-divcards {
        display: flex;
        height: 100%;
        align-content: center;
    }

    .actcard {
        width: auto;
        margin-bottom: 10px;
    }

    .actcard-content img {
        width: fit-content;
        object-fit: cover;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        padding: 20px 0px 0px 0px;
    }

    .footer-column {
        line-height: 20px;
    }

    .footer-column h4 {
        margin-top: 0;
    }
}