/**************** General *******************/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-blue: #0065FC;
    --main-bg-grey: #F2F2F2;
    --filter-bg-bluegrey: #DEEBFF;
    --Black: #000;
    --White: #FFF;
}

html {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 1440px;
    margin: auto;
    align-items: flex-start;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    padding: 0px 20px;    
}

main {
    display: flex;
    flex-direction: column;
    padding: 0px 15px 0px 15px;
}

footer {
    display: flex;
    flex-direction: row;
}

a {
    color: inherit;
    text-decoration: none;
}

a, button, label {
    cursor: pointer;
}

.euro {
    font-weight: 700;
}

/**************** Nav Bar *******************/
.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.logo-div {
    padding: 10px 15px 10px 15px;
}

.logo-img {
    max-height: 30px;
}

.navlist {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: -10px;
}

.navlist li {
    padding: 0px 30px;
}

.navlist a {
    padding-top: 20px;
}

.navlist a:hover {
    color: var(--main-blue);
    border-top : 4px var(--main-blue) solid;
}

/************** Search Section **************/
.search-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.search-header h1 {
    font-size: 24px;
    margin: 0px;
}

.search-form {
    display: flex;
    width: 450px;
    height: 50px;
    border: 1px solid var(--main-bg-grey);
    border-radius: 15px;
    margin-bottom: 20px;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    background-color: var(--main-bg-grey);
    color: var(--Black);
    border-radius: 15px 0px 0px 15px;
    border:0;
}

#locate {
    width: 50px;
    height: 40px;
    border-radius: 15px 0px 0px 15px;
    font-weight: 900;
    color: var(--Black);
    background-color: var(--main-bg-grey);
    border: 0;
    font-size: larger;
}

#locate:hover {
    color: var(--main-blue);
}

.search-txt {
    color: var(--Black);
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    height: 100%;
    width: 100%;
    border: 0px transparent;
}

.search-button {
    display: flex;
    padding: 15px 16px;
    align-items: center;
    gap: 10px; 
    border-radius: 0px 15px 15px 0px;
    border: 1px transparent var(--main-blue);
    background: var(--main-blue);
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    color: var(--White);
    transition: background-color 350ms ease-in-out;
}

.search-button:hover {
    color: var(--main-blue);
    background-color: var(--filter-bg-bluegrey);
    border:0;
}

.search-button i {
    display: none;
}

.filterbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.filterbar button {
    display: flex;
    height: 45px;
    padding: 0px 10px;
    align-items: center;
    gap: 10px; 
    border-radius: 50px;
    border: 2px solid var(--main-bg-grey);
    background-color: var(--White);
    transition: transform 350ms ease-in-out;
    font-size: 16px;
    font-weight: bold;
}

.filterbar button:hover {
    transform: scale(1.1);
    background-color: var(--filter-bg-bluegrey);
}

.filterbar .fa-solid {
    color: var(--main-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-result {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-result-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border: 2px solid var(--main-bg-grey);
    border-radius: 20px;
}

.search-result-icon i {
    color: var(--main-blue);
}

/*********** Accomodation & Popular **********/
.accomodation-popular {
    display: flex;
    flex-direction: row;
}

/*************** Accomodations *****************/
.accomodations {
    margin: 20px 15px 20px 0px;
    background-color: var(--main-bg-grey);
    border: 1px solid var(--main-bg-grey);
    border-radius: 20px;
    flex: 2;
    padding: 15px;
}

.accomodations-title {
    margin: 30px 30px 15px 30px;
    font-size: 22px;
}

.accomodations-divcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    position: relative;
}

.accomodations-divcards img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 135px;
    object-fit: cover;
}

.accomodations-divcards figcaption {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    padding: 5px;
}

.acc-cards {
    width: 30%;
    height: auto;
    padding: 5px;
    margin: 15px 5px;
    background-color: var(--White);
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    transition: transform 250ms ease-in-out;
}

.acc-cards:hover {
    transform: scale(1.05);
}

.acccard-content {
    margin: 0px;
}

.acccard-title {
    margin: 0px;
    padding-left: 5px;
    font-size: 16px;
}

.acccard-subtitle {
    margin: 0px;
    padding-left: 5px;
    font-size: 14px;
}

.acccard-rating {
    font-size: 12px;
    margin-top: auto;
    padding-left: 5px;
}

.rating-star[data-active="true"] {
    color: var(--main-blue);
}
.rating-star[data-active="false"] {
    color: var(--main-bg-grey);
}

.accomodations footer {
    padding: 20px;
    font-weight: bold;
    border-radius: 20px;
}

.showmore:hover {
    color: var(--main-blue);
    text-decoration: underline;
}

/***************** Popular *****************/
.popular {
    margin: 20px 0px 20px 15px;
    padding-bottom: 15px;
    flex: 1;
    background-color: var(--main-bg-grey);
    border: 1px solid var(--main-bg-grey);
    border-radius: 20px;
    padding: 10px;
}

.popular-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-header .fa-solid {
    margin: 30px 30px 15px 30px;
    color: var(--main-blue);
    font-size: larger;
}

.popular-title {
    margin: 30px 30px 15px 30px;
    font-size: 22px;
}

.popular-divcards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pop-cards {
    width: 90%;
    height: auto;
    padding: 5px;
    margin: 15px 5px;
    background-color: var(--White);
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    transition: transform 250ms ease-in-out;    
}

.popcard-content {
    display: flex;
    margin: 0;
}

.popcard-content img {
    border-radius: 20px 0px 0px 20px;
    width: 40%;
    min-width: 40%;
    height: 145px;
    object-fit: cover;
}

.popcard-content figcaption {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    padding: 5px;
}

.popcard-txt {
    line-height: 20px;
}

.popcard-title {
    margin: 0px;
    padding-left: 5px;
    font-size: 16px;
}

.popcard-subtitle {
    margin: 0px;
    padding-left: 5px;
    font-size: 14px;
}

.popcard-rating {
    font-size: 12px;
    margin-top: auto;
    padding-left: 5px;
}

.pop-cards:hover {
    transform: scale(1.05);
}

/**************** Activities ******************/
.activities {
    padding: 20px 0px 20px 0px; 
}

.activities-title {
    font-size: 22px;
}

.activities-divcards {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    justify-content: space-around;
    height: 600px;
}

.actcard {
    border-radius: 20px;
    margin: 5px;
    width: 23%;
    height: auto;
    box-shadow: 0 0 16px #0000001f;
    overflow: hidden;
    transition: transform 250ms ease-in-out;
}

.actcard-content {
    margin: 0px;
}

.actcard-content img {
    height: 500px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    object-fit: cover;
}

.actcard-content figcaption {
    margin: 20px;
}

.actcard-title {
    font-size: 16px;
}

.actcard:hover {
    transform: scale(1.05);
}

/***************** Footer *******************/
footer {
    background: var(--main-bg-grey);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex: 3;
}

.footer-column {
    font-size: 12px;
    line-height: 30px;
}

.footer-column li {
    list-style-type: none;
}

.footer-column li:hover {
    text-decoration: underline;
}

.footer-column h4 {
    margin-bottom: -10px;
    padding-left: 40px;
    font-size: 14px;
}