/**************** General *******************/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-blue: #0065FC;
    --main-bg-grey: #F2F2F2;
    --filter-bg-bluegrey: #DEEBFF;
    --Black: #000;
    --White: #FFF;
}

html {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 1440px;
    margin: auto;
    align-items: flex-start;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    padding: 0px 20px;    
}

/*header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/

main {
    display: flex;
    flex-direction: column;
    padding: 0px 15px 0px 15px;
}

footer {
    display: flex;
    flex-direction: row;
}

a {
    color: inherit;
    text-decoration: none;
}

a, button, label {
    cursor: pointer;
}

.euro {
    font-weight: 700;
}

/****** NAV BAR ***********/
.menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.logo-div {
    padding: 10px 15px 10px 15px;
}

.logo-img {
    max-height: 1.8em;
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;*/
}
.navlist {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: -10px;
}

.navlist li {
    padding: 0px 30px;
}
.navlist a {
    padding-top: 1.3em;
}

.navlist a:hover {
    color: var(--main-blue);
    border-top : 4px var(--main-blue) solid;
}

/*.navlist li {
    padding: 0 0 0 6em;
}*/

/****** RECHERCHE SECTION ***********/
.search-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.search h1 {
    font-size: 24px;
    margin: 0px;
}

.search-form {
    display: flex;
    width: 28em;
    height: 50px;
    border: 1px solid var(--main-bg-grey);
    border-radius: 15px;
    margin-bottom: 20px;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    background-color: var(--main-bg-grey);
    color: var(--Black);
    border-radius: 15px 0px 0px 15px;
    border:0;
}

#locate {
    width: 50px;
    height: 40px;
    border-radius: 15px 0px 0px 15px;
    font-weight: 900;
    color: var(--Black);
    background-color: var(--main-bg-grey);
    border: 0;
}
#locate {
    font-size: larger;
}
#locate:hover {
    color: var(--main-blue);
}

.search-txt {
    color: var(--Black);
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    height: 100%;
    width: 100%;
    border: 0px transparent;
}

.search-button {
    display: flex;
    padding: 15px 16px;
    align-items: center;
    gap: 10px; 
    border-radius: 0px 15px 15px 0px;
    border: 1px transparent var(--main-blue);
    background: var(--main-blue);
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    color: var(--White);
    transition: background-color 350ms ease-in-out;
}

.search-button:hover {
    color: var(--main-blue);
    background-color: var(--filter-bg-bluegrey);
    border:0;
}

.search-button i {
    display: none;
}

.filterbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.filterbar button {
    display: flex;
    height: 2.7em;
    padding: 0px 10px;
    align-items: center;
    gap: 10px; 
    border-radius: 50px;
    border: 2px solid var(--main-bg-grey);
    background-color: var(--White);
    transition: transform 350ms ease-in-out;
    font-size: 16px;
    font-weight: bold;
}

.filterbar button:hover {
    transform: scale(1.1);
    background-color: var(--filter-bg-bluegrey);
}

.filterbar .fa-solid {
    color: var(--main-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-result {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-result-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid var(--main-bg-grey);
    border-radius: 20px;
}

.search-result-icon i {
    color: var(--main-blue);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    flex-direction: row;
}

/****** Hebergements ***********/
.hebergements {
    margin: 20px 15px 20px 0px;
    background-color: var(--main-bg-grey);
    border: 1px solid var(--main-bg-grey);
    border-radius: 20px;
    flex: 2;
    padding: 15px;
}

.hebergements-title {
    margin: 30px 30px 15px 30px;
    font-size: 22px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    position: relative;
}

.heb-cards {
    width: 30%;
    height: auto;
    padding: 5px;
    margin: 15px 5px;
    background-color: var(--White);
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    transition: transform 250ms ease-in-out;
}

.card-content {
    margin: 0px;
}

.hebergements-cards img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 135px;
    object-fit: cover;
}

.hebergements-cards figcaption {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    padding: 5px;
}

.card-title {
    margin: 0px;
    padding-left: 5px;
    font-size: 16px;
}

.card-subtitle {
    margin: 0px;
    padding-left: 5px;
    font-size: 14px;
}

.card-rating {
    font-size: 12px;
    margin-top: auto;
    padding-left: 5px;
}

.afficherplus:hover {
    color: var(--main-blue);
    text-decoration: underline;
}

.hebergements footer {
    padding: 20px;
    font-weight: bold;
    border-radius: 20px;
}

.rating-star[data-active="true"] {
    color: var(--main-blue);
}
.rating-star[data-active="false"] {
    color: var(--main-bg-grey);
}

.heb-cards:hover {
    transform: scale(1.05);
}

/****** Populaires ***********/
.populaires {
    margin: 20px 0px 20px 15px;
    padding-bottom: 15px;
    flex: 1;
    background-color: var(--main-bg-grey);
    border: 1px solid var(--main-bg-grey);
    border-radius: 20px;
    padding: 10px;
}

.populaires-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-header .fa-solid {
    margin: 30px 30px 15px 30px;
    color: var(--main-blue);
    font-size: larger;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-title {
    margin: 30px 30px 15px 30px;
    font-size: 22px;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pop-cards {
    width: 90%;
    height: auto;
    padding: 5px;
    margin: 15px 5px;
    background-color: var(--White);
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    transition: transform 250ms ease-in-out;    
}

.popcard-content {
    display: flex;
    margin: 0;
}

.popcard-content img {
    border-radius: 20px 0px 0px 20px;
    width: 40%;
    min-width: 40%;
    height: 145px;
    object-fit: cover;
}

.popcard-content figcaption {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    padding: 5px;
}

.popcard-txt {
    line-height: 20px;
}

.popcard-title {
    margin: 0px;
    padding-left: 5px;
    font-size: 16px;
}

.popcard-subtitle {
    margin: 0px;
    padding-left: 5px;
    font-size: 14px;
}

.popcard-rating {
    font-size: 12px;
    margin-top: auto;
    padding-left: 5px;
}

.pop-cards:hover {
    transform: scale(1.05);
}

/****** Activités ***********/
.activites {
    padding: 20px 0px 20px 0px; 
}

/*.activites-header {
    margin: 30px 0px 0px 10px;
}*/

.activites-title {
    font-size: 22px;
}

.activites-cards {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    justify-content: space-around;
    height: 600px;
}

.actcard {
    border-radius: 20px;
    margin: 5px;
    width: 23%;
    height: auto;
    box-shadow: 0 0 16px #0000001f;
    overflow: hidden;
    transition: transform 250ms ease-in-out;
}

.actcard-content {
    margin: 0px;
}

.actcard-content img {
    height: 500px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    object-fit: cover;
}

.actcard-content figcaption {
    margin: 20px;
}

.activites-cards .card-title {
    padding: 20 19 20 19;
}

.actcard-title {
    font-size: 16px;
}

.actcard:hover {
    transform: scale(1.05);
}

/****** Footer ***********/
footer {
    background: var(--main-bg-grey);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex: 3;
}

.colonne {
    font-size: 12px;
    line-height: 30px;
}

.colonne li {
    list-style-type: none;
}

.colonne li:hover {
    text-decoration: underline;
}

.colonne h4 {
    margin-bottom: -10px;
    padding-left: 40px;
    font-size: 14px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    html {
        min-width: 768px;
        max-width: 1024px;
        margin: 0;
        flex-direction: column;
    }

    body {
        padding: 0px 0px;    
    }
  
    .search h1 {
        font-size: 20px;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .hebergements {
        margin: 20px 0px 20px 0px;
    }

    .heb-cards {
        width: 31%;
    }
    .populaires {
        margin: 20px 0px 20px 0px;
        padding: 20px;
    }

    .pop-cards {
        width: 36%;
        height: auto;
    }

    .populaires-cards {
        flex-direction: row;
    }

    .activites-cards {
        height: 300px;
    }
    .actcard-content img {
        height: 200px;
    }
}
/*    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(125px, 225px))
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}
*/
/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    html,
    body {
        min-width:auto;
        max-width: 768px;
    }

    .menu {
        display: block;
        margin: 20px 0;  
    }
    
    .logo-div {
        display: flex;
        justify-content: center;
    }
    
    .navlist {
        padding: 0px 5px 20px 0px;
        margin-right: 0px;
    }

    .navlist li {
        border-bottom: solid 3px var(--main-bg-grey);
        width: 50%;
        text-align: center;
    }

    .navlist a:hover {
        border-bottom: 3px var(--main-blue) solid;
        border-top: none;
        color: var(--main-blue);
    }

    .navlist a:active {
        border-bottom: 3px var(--main-blue) solid;
        border-top: none;
        color: var(--main-blue);
    }

    body {
        padding: 0px 0px;
    }
    
    main {
        padding: 0px;
    }

    .search {
        padding: 15px;
    }
    .search-header {
        text-align: center;
    }

    .search-button span {
        display: none;
    }

    .search-button i {
        display: block;
        color: var(--White);
        font-size: larger;
    }
    .search-form {
        width: 100%;
    }

    .filterbar {
    margin: 10px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }

    .filterbar div {
    height: 2.5em;    
    }

    .hebergements-and-populaires {
    flex-direction: column-reverse;
    }
    .hebergements {
        margin: 0px 0px;
        border-radius: 0;
        padding: 0;
        background-color: var(--White);
        border: 0;
    }

    .hebergements-title {
        display: flex;
        justify-content: center;
        margin: 30px 0px 15px 0px;
        }

    .hebergements-cards {
        flex-direction: column;
    }

    .heb-cards {
        width:-moz-available;
        margin: 0.5em 1em;
    }

    .hebergements footer {
        background-color: var(--White);
    }

    .populaires {
        margin: 0px 0px;
        border-radius: 0;
        padding: 20px 0px;
    }

    .populaires-header {
        justify-content: center;
        padding-bottom: 10px;
    }

    .populaires-title {
        margin: 0px 30px 0px 30px;
    }

    .populaires-header .fa-solid {
        margin: 0px 30px 0px 30px;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .pop-cards {
        width:90%;
        margin: 0.5em 1.4em;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        padding: 20px 0px 0px 0px;
    }

    .activites {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .activites-title {
        display: flex;
        justify-content: center;
    }
    .activites-cards {
        display: flex;
        height: 100%;
        align-content: center;
    }

    .actcard {
        display: flex;
        width: auto;
        margin-bottom: 10px;
    }

    .actcard-content img {
        width: fit-content;
        object-fit: cover;
    }

    .colonne {
        line-height: 20px;
    }

    .colonne h4 {
        margin-top: 0;

      }
}